<div class=row-fluid>
  <div class=span6>
    <h2>Result of query <%= params[:action].upcase %></h2>
    <p>
    List the average weight, average height and average age, of teams of coaches
    with more than 'XXX' season career wins and more than 'YYY' win percentage,
    in each season they coached.
    </p>

    <%= form_tag do %>
    <%= label_tag = '(season career wins, win percentage) = ' %>
    <%= select_tag 'values', options_for_select([
      ["(1000, 70%)", 0],
      ["(1000, 60%)", 1],
      ["(1000, 50%)", 2],
      ["(1000, 55%)", 3],
      [ "(700, 55%)", 4],
      [ "(700, 45%)", 5],
    ], @values) %>

    <%= submit_tag 'Apply filter' %>
    <% end %>
    
    <p> 
    Sort the result by year in ascending order 
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope=col>Year</th>
          <th scope=col>Average Weight</th>
          <th scope=col>Average Height</th>
          <th scope=col>Average Age</th>
        </tr>
      </thead>
      <tbody>
        <%- while line = @results.fetch() -%>
          <tr>
            <th scope=row><%= line[3] %></th>
            <td><%= line[0].round %></td>
            <td><%= (line[1] / 12).round %>' <%= (line[1] % 12).round %>"</td>
            <td><%= line[2] %></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
  <%= render :partial => "sql" %>
</div>
