<div class=row-fluid>
  <div class=span6>
    <h2>Result of query <%= params[:action].upcase %></h2>
    <p>
      Compute which was the team with most wins in regular season during which changed 2, 3 and 4 coaches.
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope=col>Year</th>
          <th scope=col>Team</th>
          <th scope=col><abbr title="Number of coaches"># Coaches</abbr></th>
          <th scope=col><abbr title="Total season wins">Tot. wins</abbr></th>
        </tr>
      </thead>
      <tbody>
        <%- year = nil -%>
        <%- while line = @results.fetch() do -%>
          <tr>
            <th scope=row><%= year != line[4] ? line[4] : '' %></th>
            <td><%= link_to(
              line[1],
              :controller => "team",
              :action => "view",
              :id => line[0]
            ) %></td>
            <td><%= line[2].round %></td>
            <td><%= line[3].round %></td>
          </tr>
          <%- year = line[4] -%>
        <%- end -%>
      </tbody>
    </table>
  </div>
  <%= render :partial => "sql" %>
</div>
