<td><%= stat.minutes %></td>
<td><%= stat.pts %></td>
<td><%= stat.gp %></td>
<td><%= stat.turnovers %></td>
<td><%= stat.asts %></td>
<td><%= stat.steals %></td>
<td><%= stat.blocks %></td>
<td><%= stat.reb %></td>
<td><%= stat.oreb %></td>
<td><%= stat.dreb %></td>
<td><%= stat.pf %></td>
<td><%= stat.fga %></td>
<td><%= stat.fgm %></td>
<td><%= stat.fta %></td>
<td><%= stat.ftm %></td>
<td><%= stat.tpa %></td>
<td><%= stat.tpm %></td>
