<%= render :partial => 'header' %>
<%- if @person.player_seasons.count > 0 then -%>
<div class=row-fluid>
  <div class=span12>
    <h3>Seasons in a team</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope=col>Year</th>
          <th scope=col>Team</th>
          <th scope=col>League</th>
          <th scope=col>Type</th>
          <%= render :partial => 'stat_header' %>
          <th scope=col>Links</th>
        </tr>
      </thead>
      <tbody>
  <%- @person.player_seasons.each do |season|
    rs = (season.regular_season and season.playoff_season) && 2 || 1
    stat = season.regular_season
    link = admin_player_stat_path(stat)
    if stat.nil? then
      stat = season.playoff_season
      link = admin_player_allstar_path(stat)
    end
  -%>
        <tr>
          <th scope=row rowspan=<%= rs %>><%= season.year -%></th>
          <td rowspan=<%= rs %>><%= link_to(
            season.team.fullname,
            :controller => 'team',
            :action => 'view',
            :id => season.team_id
          ) -%></td>
          <td rowspan=<%= rs %>><%= season.team.league.name %></td>
          <td><%= stat.player_season_type.name %></td>
          <%= render :partial => 'stat', :object => stat -%>
          <td><%= link_to "admin", link %></td>
        </tr>
      <%- if rs == 2 then
        stat = season.playoff_season
        link = admin_player_allstar_path(stat)
      -%>
        <tr>
          <td><%= stat.player_season_type.name %></td>
          <%= render :partial => 'stat', :object => stat -%>
          <td><%= link_to "admin", link %></td>
        </tr>
      <%- end -%>
  <%- end -%>
      </tbody>
    </table>
  </div>
</div>
<%- end -%>
<%- if @person.player_allstars.count > 0 then -%>
<div class=row-fluid>
  <div class=span12>
    <h3>Allstar seasons</h3>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th scope=col>Year</th>
          <th scope=col>Conference</th>
          <th scope=col>League</th>
          <%= render :partial => 'stat_header' %>
          <th scope=col>Link</th>
        </tr>
      </thead>
      <tbody>
  <%- @person.player_allstars.each do |stat| -%>
        <tr>
          <th scope=row><%= stat.year -%></th>
          <td><%= stat.conference.name -%></td>
          <td><%= stat.league.name -%></td>
          <%= render :partial => 'stat', :object => stat %>
          <td><%= link_to "admin", admin_player_allstar_path(stat) %></td>
        </tr>
  <%- end -%>
      </tbody>
    </table>
  </div>
</div>
<%- end -%>
