<%= render :partial => 'header' %>
<div class=row-fluid>
  <%- if @person.player_seasons.count > 0 then -%>
  <div class=span6>
    <h3>Seasons in a team</h3>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th scope=col>Year</th>
          <th scope=col>Team</th>
          <th scope=col>Season</th>
          <th scope=col>Playoff</th>
        </tr>
      </thead>
      <tbody>
    <%- @person.player_seasons.each do |season| -%>
        <tr>
          <th scope=row><%= season.year -%></th>
          <td><%= link_to(
            season.team.fullname,
            :controller => 'team',
            :action => 'view',
            :id => season.team_id
          ) -%></td>
          <td><%= link_to(
            'View stats',
            :controller => 'player',
            :action => 'stat',
            :year => season.year,
            :type => 'season',
            :id => @person.id
          ) if season.regular_season %></td>
          <td><%= link_to(
            'View stats',
            :controller => 'player',
            :action => 'stat',
            :year => season.year,
            :type => 'playoff',
            :id => @person.id
          ) if season.playoff_season %></td>
        </tr>
    <%- end -%>
      </tbody>
    </table>
  </div>
  <%- end -%>
  <%- if @person.player_allstars.count > 0 then -%>
  <div class=span6>
    <h3>Allstar seasons</h3>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th scope=col>Year</th>
          <th scope=col>Conference</th>
          <th scope=col>Stat</th>
        </tr>
      </thead>
      <tbody>
    <%- @person.player_allstars.each do |allstar| -%>
        <tr>
          <th scope=row><%= allstar.year -%></th>
          <td><%= allstar.conference.name -%></td>
          <td><%= link_to(
            'View stats',
            :controller => 'player',
            :action => 'stat',
            :year => allstar.year,
            :type => 'allstar',
            :id => @person.id
          ) %></td>
        </tr>
    <%- end -%>
      </tbody>
    </table>
  </div>
  <%- end -%>
</div>
