<%= render :partial => 'header' %>
<div class=row-fluid>
  <div class=span4>
    <p>
      <img src="http://<%= @person.firstname.gsub(/\s+/, '-') %>-<%= @person.lastname.gsub(/\s+/, '-') %>-nba.jpg.to/face+m" alt="">
    </p>
  </div>
  <div class=span4>
    <h3>Details</h3>
    <dl>
    <%- unless @person.position.nil? then -%>
      <dt>Position</dt>
      <dd><%= @person.position -%></dd>
    <%- end -%>
    <%- if @person.height then -%>
      <dt>Height</dt>
      <dd><%= @person.height_in_ft -%> ft</dd>
    <%- end -%>
    <%- if @person.weight then -%>
      <dt>Weight</dt>
      <dd><%= @person.weight -%> lbs</dd>
    <%- end -%>
    <%- if @person.birthdate then -%>
      <dt>Birthdate</dt>
      <dd><%= @person.birthdate.strftime('%Y-%m-%d') -%></dd>
    <%- end -%>
    <%- if @person.drafts.count > 0 then -%>
      <dt>College</dt>
      <dd><%= @person.drafts[0].location.name -%></dd>
    <%- end -%>
    </dl>
  </div>
  <%- if @person.drafts.count > 0 then-%>
  <div class=span4>
    <h3>Draft history</h3>
    <%- @person.drafts.each do |draft| -%>
      <p>
        <%= draft.year %>
        round <%= draft.round %>,
        <%= link_to(
          "#{draft.team.name} (#{draft.team.trigram})",
          :controller => 'team',
          :action => 'view',
          :id => draft.team_id
        ) -%>,
        <%= draft.team.league.name %>
      </p>
    <%- end -%>
  </div>
  <%- end -%>
</div>
