<div class=row-fluid>
  <div class=span3>
    <h3>Some stuff</h3>
    <ul>
      <li><%= link_to(
        "Teams (#{@teams_count})",
        :controller => "team"
      ) %></li>
      <li><%= link_to(
        "People (#{@people_count})",
        :controller => "person"
      ) %></li>
    </ul>
  </div>
  <div class=span3>
    <h3>Happy Birthday!</h3>
    <ul>
    <%- while line = @birthday.fetch() -%>
      <li><%= link_to(
        "#{line[2]} #{line[1]}",
        :controller => "person",
        :action => "view",
        :id => line[0]
      ) %> is <%= line[3].round -%></li>
    <%- end -%>
    </ul>
  </div>
  <div class=span6>
    <%= form_tag({:controller => :search}, :method => "get", :class => "form-search well") do -%>
      <p>
        <%= label_tag(:q , "Search for:") -%>
        <%= text_field_tag(:q, "", :class => "input-medium search-query") -%>
        <%= submit_tag("Search") -%>
      </p>
    <%- end -%>
  </div>
</div>
