<h1>NBA</h1>
<%= form_tag do -%>
  <p>
    <%= label_tag(:q , "Search for:") -%>
    <%= text_field_tag(:q, "TODO") -%>
    <%= submit_tag("Search") -%>
  </p>
<%- end -%>
<ul>
  <li><%= link_to(
    "Teams (#{@teams_count})",
    :controller => "team"
  ) %></li>
  <li><%= link_to(
    "People (#{@people_count})",
    :controller => "person"
  ) %></li>
</ul>
