<h1>NBA</h1>
<%= form_tag do -%>
  <p>
    <%= label_tag(:q , "Search for:") -%>
    <%= text_field_tag(:q, "TODO") -%>
    <%= submit_tag("Search") -%>
  </p>
<%- end -%>
<h2>Teams</h2>
<%- unless @teams.nil? then -%>
<ul>
<%- @teams.each do |team| -%>
<li><%= link_to(
  "#{team.name} (#{team.trigram})",
  :controller => 'team',
  :action => 'view',
  :id => team.id.to_i
) -%></li>
<%- end -%>
</ul>
<%- else -%>
<p>no teams</p>
<%- end -%>
