<h1>NBA</h1>
<%= form_tag do -%>
  <p>
    <%= label_tag(:q , "Search for:") -%>
    <%= text_field_tag(:q, "TODO") -%>
    <%= submit_tag("Search") -%>
  </p>
<%- end -%>
<h2>People</h2>
<ul>
<%- @people.each do |person| -%>
  <li><%= link_to(
    person.firstname + " " + person.lastname,
    :controller => 'person',
    :action => 'details',
    :id => person.ilkid
  ) -%> <strong>TODO</strong></li>
<%- end -%>
</ul>
<h2>Leagues</h2>
<ul>
<%- @leagues.each do |league| -%>
  <li><%= link_to(
    league.name,
    :controller => 'league',
    :action => 'details',
    :id => league.name
  ) -%></li>
<%- end -%>
</ul>
<h2>Conferences</h2>
<ul>
<%- @conferences.each do |conference| -%>
  <li><%= link_to(
    conference.name,
    :controller => 'conference',
    :action => 'details',
    :id => conference.name
  ) -%></li>
<%- end -%>
</ul>
